span[class^="blame-"] {
    cursor: pointer;
}

.blame-add {
    background-color: green;
}

.blame-add.hovered {
    background-color: rgb(0, 44, 0);
}

.blame-add.selected {
    background-color: rgb(0, 66, 30);
}

.blame-add.hovered.selected {
    background-color: rgb(1, 36, 19);
}

.blame-remove {
    background-color: red;
    width: 1em;
}

.blame-remove.hovered {
    background-color: rgb(44, 0, 0);
}

.blame-remove.selected {
    background-color: rgb(80, 39, 0);
}

.blame-remove.hovered.selected {
    background-color: rgb(48, 39, 2);
}