#root {
  width: 100%;
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

textarea {
  resize: none;
}

.rev-area {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}

.diff-text {
  padding: 0;
  margin: 0;
  text-align: left;
}

.main-left {
  flex: 2 0 0;
}

.main-right {
  flex: 1 0 0;
}

.main-left, .main-right {
  overflow-y: scroll;
  border-width: 1px;
  border-style: solid;
  border-color: #575757;
  border-radius: 0.5em;
  word-wrap: break-word;
}

.help-icon {
  cursor: pointer;
}

#fork-me {
  position: absolute;
  top: 0px;
  right: 0px;
}

@media (min-width: 600px) {
  .rev-area {
    flex-direction: row;
  }

  .main-left {
    flex: 0 0 calc(75% - 2px);
    max-width: calc(75% - 2px);
  }

  .main-right {
    flex: 0 0 calc(25% - 2px);
    max-width: calc(25% - 2px);
  }
}