[class^="blame-"] {
    cursor: pointer;
}

.blame-add {
    background-color: green;
}

.blame-add.hovered {
    background-color: darkgreen;
}

.blame-remove {
    background-color: red;
    width: 1em;
}

.blame-remove.hovered {
    background-color: darkred;
}

.selected {
    border-style: solid;
    border-color: white;
    border-width: 1px;
}